{% extends '::base.html.twig' %}

{% block title %}INCA{% endblock %}

{% set urlAbsolutaFoto = 'http://'
                             ~ app.request.server.get('SERVER_NAME')
                             ~ asset('images/keyarts/inicio/logomenu.png') %}
                             
{% set locale = app.request.locale %}
    
{% set route = app.request.get('_route') %}    
                             
{% block stylesheets %}
    
    {% block redes_sociales %}

    <meta property="og:url" content="{{url('homepage')}}" />
    <meta property="og:title" content="Inca México" />
    <meta property="og:image" content="{{urlAbsolutaFoto}}" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="IncaMexico.com" />
    <!--meta property="fb:admins" content="USER_ID1,USER_ID2"/-->
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@incamexico">
    <meta name="twitter:title" content="Inca México">
    <meta name="twitter:description" content="Descripcion de la publicaicon">
    <meta name="twitter:creator" content="@richpolis">
    <meta name="twitter:image:src" content="{{urlAbsolutaFoto}}">
    <meta name="twitter:domain" content="{{url('homepage')}}">
    <meta name="twitter:app:name:iphone" content="">
    <meta name="twitter:app:name:ipad" content="">
    <meta name="twitter:app:name:googleplay" content="">
    <meta name="twitter:app:url:iphone" content="">
    <meta name="twitter:app:url:ipad" content="">
    <meta name="twitter:app:url:googleplay" content="">
    <meta name="twitter:app:id:iphone" content="">
    <meta name="twitter:app:id:ipad" content="">
    <meta name="twitter:app:id:googleplay" content="">


    {% endblock %}

<link rel="stylesheet" href="{{asset('css/bootstrap.css')}}">
<link rel="stylesheet" href="{{asset('css/font-awesome.css')}}">
<link rel="stylesheet" href="{{asset('css/bootstrap-responsive.html')}}">
<link rel="stylesheet" href="{{asset('css/fuentes.css')}}">
<link rel="stylesheet" href="{{asset('css/main.css')}}">
<style>
    .loader {
        display: none;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('/images/page-loader.gif') 50% 50% no-repeat transparent;
    }
</style>
{% endblock %}

{% block body %}
    {% block background_slider %}{% endblock %}
    <div class="container">
        <header>
            <div class="lenguajes">
                {% if locale == 'en' %}
                    <a href="{{url(route,{'_locale':'es'})}}" class="lenguaje lenguaje-espanol">
                        Español
                    </a>
                {% else %}
                    <span class="lenguaje lenguaje-espanol">Español</span>
                {% endif %}
                {% if locale == 'es' %}
                    <a href="{{url(route,{'_locale':'en'})}}" class="lenguaje lenguaje-ingles">
                        English
                    </a>
                {% else %}
                    <span class="lenguaje lenguaje-ingles">English</span>
                {% endif %}
            </div>
            <a id="logo" href="{{path('homepage')}}">
                <img src="{{ asset('images/keyarts/logomenu.png') }}" alt="fresh design web">
            </a>
            <a id="menu-toggle" class="button dark" href="#">
                <img src="{{ asset('images/nav.png') }}" alt="" />
            </a>
            <nav class="navegador">
                  <ul id="menu">
                    <li class="parent {% if route == 'homepage' %}active{% endif %}">
                        <a href="{{path('homepage')}}">
                            {{"inicio"|trans}}
                        </a>
                        <ul class="submenu">
                            <li><a href="{{path('frontend_nosotros')}}">{{"Quienes somos"|trans}}</a></li>
                        </ul>
                    </li>
                    <li class="parent {% if route == 'frontend_proyectos' %}active{% endif %}">
                        <a href="{{path('frontend_proyectos')}}">
                            {{"Proyectos"|trans}}
                        </a>
                        <ul class="submenu">
                            <li><a href="{{path('frontend_sector_region')}}">{{"Por sector o región"|trans}}</a></li>
                        </ul>
                    </li>
                    <li class="menu-item {% if route == 'frontend_servicios' %} active{% endif %}">
                        <a href="{{path('frontend_servicios',{'_locale':locale})}}"  >
                            {{ "servicios"| trans }}
                        </a>
                    </li>
                    <li class="menu-item {% if route == 'frontend_clientes' %} active{% endif %}">
                        <a href="{{path('frontend_clientes',{'_locale':locale})}}"  >
                            {{ "clientes"| trans }}
                        </a>
                    </li>
                    <li class="menu-item {% if route == 'frontend_contacto' %} active{% endif %}">
                        <a href="{{path('frontend_contacto',{'_locale':locale})}}"  >
                            {{ "contacto"| trans }}
                        </a>
                    </li>
                  </ul>
            </nav>
        </header>
        <section id="sectionPrincipal">
            {% block contenido %} 
            {% endblock %}
        </section>
        <footer>
        </footer>
        <span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span>
        <div class="loader"></div>

                
    </div>
{% endblock %}

{% block javascripts %}
    {# JS #}
    <script src="{{asset('js/jquery.js')}}"></script>
    <script src="{{asset('js/underscore-min.js')}}"></script>
    <script src="{{asset('js/backbone-min.js')}}"></script>
    <script src="{{asset('js/swig.js')}}"></script>
    <script src="{{asset('js/bootstrap.js')}}"></script>
    <script>
        window.lenguajes = {};
        window.lenguajes.espanol = '{{url(route,{'_locale':'es'})}}';
        window.lenguajes.ingles = '{{url(route,{'_locale':'en'})}}';
    </script> 
    <script>
        $(document).ready(function() {

            /* MAIN MENU */
            $('#menu > li:has(ul.submenu)').addClass('parent');
            $('ul.submenu > li:has(ul.submenu) > a').addClass('parent');

            $('#menu-toggle').click(function() {
                $('#menu').slideToggle(300);
                return false;
            });

            $(window).resize(function() {
                if ($(window).width() > 700) {
                    $('#menu').removeAttr('style');
                }
            });

        });
    </script>   
{% endblock %}