{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{  parent()  }}
    <link rel="stylesheet" href="{{asset('css/jquery.bxslider.css')}}">
    <link rel="stylesheet" href="{{asset('css/fancybox/jquery.fancybox.css')}}"/>
    <link rel="stylesheet" href="{{asset('css/galeria.google.css')}}"/>
    <link rel="stylesheet" href="{{asset('css/jquery-ui-1.9.2.custom.min.css')}}"/>
    <style>
    .bx-wrapper .bx-viewport{
        padding: 0px;
        border: none;
        top: 0px;
        left: 0px;
        background: transparent;
    }
    
    
    div.ui-slider-range{
    	background: #7d9432;
    }
    
    
    #yearSelect{
    	color: #e64f30;
        width:100px;
        font-size: 16px;
        border: none;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    select {
      padding:3px;
      margin: 0;
      -webkit-border-radius:4px;
      -moz-border-radius:4px;
      border-radius:4px;
      -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
      -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
      box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
      background: #79004a;
      color: white;
      border:none;
      outline:none;
      display: inline-block;
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
      cursor:pointer;
  }
    </style>
    <script src="{{asset('js/modernizer.js')}}"></script>
{% endblock %}

{% block contenido %}
 <article class="proyectos">
   <div class="controles row">
     <div class="rango col-lg-6">
         <label for="rangoProyectos" class="rangoProyectos">{{"Linea de tiempo"|trans}}:</label> 
         <div class="todos-los-years">	
         	<input type="checkbox" value="false" id="allYears" name="allYears"/><label for="allYears" class="allYears">{{"Todos los años"|trans}}</label>
         </div>
         <div id="slider-range"></div>
         <input type="text" id="yearSelect" value="{{minimo}}" data-minimo="{{minimo}}" data-maximo="{{maximo}}"/>
     </div>
     <div class="combobox col-lg-6">
         <label for="categoriaProyectos">{{"Categoria"|trans}}:</label> 
        <select id="categoriaProyectos" name="categoriaProyectos">
            <option selected value="todos">{{ "Todos"|trans }}</option>
            {% for categoria in categorias %}
              <option value="{{categoria.slug}}">{{categoria.nombre(locale)}}</option>
            {% endfor %}
        </select>    
     </div>
   </div>
   <ul id="og-grid" class="contenedorProyectos og-grid"></ul>
 </article>
{% raw %}
<script type="text/template" id="item_template">
	<a href="#" data-id="registro-{{id}}">
       <figure class="imagen">
         <img src="{{ thumbnail }}" alt="">
       </figure>
       <h3 class="titulo">{{ titulo }}</h3>
       <span class="rango">{{ empezo }} - {{ termino }}</span>
       <div class="descripcion">
          {{ descripcionCorta|raw }}
       </div>
    </a>   
</script>
<script type="text/template" id="item_seleccionado_template">
	<div class="og-expander" style="transition: height 350ms ease; -webkit-transition: height 350ms ease;">
    	<div class="og-expander-inner">
        	<span class="og-close"></span>
            <div class="og-fullimg galeria">
            	<div class="og-loading" style="display: none;"></div>
                <ul class="slider">
                 {% for galeria in galerias %}
                   <li class="imagen-width-lupa">
                       <a href="{{galeria.imagen}}" title="{{galeria.titulo}}" class="fancybox ">
                         <img class="imagen-thumbnail" src="{{galeria.thumbnail}}" alt="">
                         <span class="lupa"></span> 
                       </a>
                   </li>
                 {% endfor %}
            </div>
            <div class="og-details">
                <h3 class="titulo">{{ titulo }}</h3>
                 <span class="rango">{{empezo}} - {{termino}}</span>
                 <ul class="detalles">
                   <li class="detalle cliente"><span>Cliente:</span>{{cliente}}</li>
                   <li class="detalle ubicacion"><span>Ubicacion:</span>{{ubicacion}}</li>
                   <li class="detalle monto"><span>Inversión de proyecto:</span>{{monto}}</li>
                 </ul>
                 <div class="descripcion">
                    {{ descripcion|raw }}
                 </div>
            </div>
        </div>
    </div>
</script>
{% endraw %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{asset('js/main.js')}}"></script>
<script src="{{asset('js/jquery.bxslider.js')}}"></script>
<script src="{{asset('js/fancybox/jquery.fancybox.pack.js')}}"></script>
<script src="{{asset('js/fancybox/jquery.fancybox-media.js')}}"></script>
<script src="{{asset('js/grid.js')}}"></script>
<script src="{{asset('bundles/frontend/js/app_proyectos.js')}}"></script>
<script src="{{asset('js/jquery-ui-1.9.2.custom.min.js')}}"></script>
<script>
$(document).ready(function() {
    window.api = {
      url: '/{{locale}}/api/proyectos/',
      cont: {{ proyectos | length }},
      accion: {
          list: false,
          show: false,
          idShow: 0,
      },
      datos: [
        {% for proyecto in proyectos %}
            {
            'id': {{ proyecto.id }},   
            'titulo': '{{ proyecto.titulo(locale) }}',
            'slug': '{{ proyecto.slugLocale(locale) }}',
            'descripcion': '{{ proyecto.descripcion(locale)|raw }}',
            'descripcionCorta': '{{ proyecto.descripcion(locale)|slice(0,100)|raw  }}',
            'cliente': '{{proyecto.cliente}}',
            'ubicacion': '{{proyecto.ubicacion}}',
            'monto': '{{proyecto.monto}}',
            'categoria': '{{ proyecto.categoria.slug }}',
            'thumbnail': '{{ proyecto.galerias[0].webPath | apply_filter('proyectos_thumbnail') }}',
            'empezo': {{proyecto.empezo}},
            'termino': {{proyecto.termino}},
            'galerias': [
                    {% for galeria in proyecto.galerias %}
                        {
                        'thumbnail': '{{ galeria.webPath | apply_filter('proyectos_carrusel') }}',
                        'imagen': '{{ galeria.webPath }}',
                        'titulo': '{{ galeria.titulo }}',
                        },
                    {% endfor %}
                ],  
            },
        {% endfor %}
      ],
    };
    $(".loader").fadeIn();
    debugger;
    window.routers.app = new Proyectos.Routers.App();
    window.collections.proyectos = new Proyectos.Collections.Proyectos(window.api.datos);
    window.collections.proyectos.url = window.api.url;
    $(".loader").fadeOut();
    Backbone.history.start({
        root : '/',
        pushState:false 
    });
    
    $( "#slider-range" ).slider({
      range: "min",
      value: {{minimo}},
      min: {{minimo}},
      max: {{maximo}},
      slide: function( event, ui ) {
        $( "#yearSelect" ).val(  ui.value );
        setTimeout(function(){
        	var left = $("a.ui-slider-handle").css('left');
        	$( "#yearSelect" ).css({left: left});
            $("#yearSelect").change();
        },100);
      }
    });
    
});

function iniciarSlider(){
    $('.slider').bxSlider({
      randomStart: false,
      pager: true,
      auto: true,
      controls: false,
      speed: 1000,
      autoHover: true,
      slideWidth: 430,
    });
}

function iniciarFancybox(){
    $("a.fancybox").fancybox();
    $("a.fancybox-media").fancybox({
      helpers : {
        media: true
      },
      youtube : {
        autoplay: 0
      }
    });
}

</script>
{% endblock %}
